parameters:
	bootstrapFiles:
	    -  %currentWorkingDirectory%/tests/phpstan/bootstrap.php
	excludes_analyse:
	    -  %currentWorkingDirectory%/application/templates
	    -  %currentWorkingDirectory%/vendor
	    -  %currentWorkingDirectory%/src/Dvelum/Cache/Memcached.php
	    -  %currentWorkingDirectory%/src/Dvelum/Response/PsrResponse.php
	scanDirectories:
	    -  %currentWorkingDirectory%/application
	    -  %currentWorkingDirectory%/src
	    -  %currentWorkingDirectory%/extensions
	    -  %currentWorkingDirectory%/tests/unit/dvelum/
	autoload_files: []
	polluteCatchScopeWithTryAssignments: true
	ignoreErrors:
	    - '#Unsafe usage of new static#'
	    - '#call_user_func_array expects callable#'
	    - '#spl_autoload_register expects callable#'
	level: max

